.blog {
	&__inner {
		padding-top: 50px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
.masonry {
	display: block;
	width: 100%;
	margin: auto;

	&__item {
		display: block;
		width: 275px;
		margin-bottom: 20px;
		position: relative;

		@include min768 {
			width: 340px;
		}

		
	}
}

