.blog {
	&__inner {
		padding-top: 50px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
.masonry {
	display: block;
	width: 100%;
	margin: auto;

	&__item {
		display: block;
		width: 275px;
		margin-bottom: 20px;
		position: relative;

		
	}
}


.categories {

	&__item {
		display: inline-block;
		border: 1px solid #000;
		border-radius: 50%;
		padding: 10px;
		cursor: pointer;
	}
	&__icon {
		display: block;
		height: 15px;
		width: 15px;

	}
}
.published {
	display: block;
	text-align: center;
	padding: 15px 0 10px;
	position: relative;

	&:after {
		@include pseudo;
		width: 85px;
		height: 2px;
		background: $blueColor;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	&__date {
		color: $fontPostColor;
	    font-size: 13px;
	    text-transform: uppercase;
	} 
}
