.post {
	display: block;
	background: #fff;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
	position: relative;

	&__content {
		position: relative;
		padding: 10px;
		text-align: center;
	}
	&__title {
		position: relative;
		margin-bottom: 15px;
		text-align: center;
		&--text {
			text-transform: uppercase;
			font-family: $fontTitles;
			font-weight: 700;			
			font-size: 18px;
			color: $fontPostColor;
			
		}
	}
	
	figure {
		display: block;
		position: relative;
		overflow: hidden;	

	}
	&__preview {
		position: relative;
		text-align: center;
		overflow: hidden;
		
		&:before {
			@include pseudo;
			width: 50%;
			height: 100%;
			background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
			transform: skewX(-25deg);
			top: 0;
			left: -85%;
			z-index: 2;
		}

		&:hover:before {
			animation: shine 1s;
		}

	}
	@keyframes shine {
		100% {
			left: 125%;
		}
	}
	&-img {

		img {
			height: auto;
		}
	}
	&__info {
		border-top: 2px solid #b3edfb;
	    background: $mainPostColor;
	    box-shadow: inset 0px 4px 12px 0 #081f48a6;
	    display: flex;
	    justify-content: space-around;
	    align-items: center;
	    padding: 10px;
	}
}