// fonts
$fontMain: 'Montserrat Alternates', sans-serif;
$fontTitles: 'Roboto Condensed', sans-serif;


// fonts's size	
$fz16: 16px;
$fz18: 18px;
$fz20: 20px;
$fz28: 28px;
$fz30: 30px;


/*--------------------------------------------------
				Common Colors
---------------------------------------------------*/

$mainBgColor: rgba(45, 47, 64, 1);
$mainFontColor: rgba(27, 27, 27, 1);

/*--------------------------------------------------
				Blog Page Colors
---------------------------------------------------*/


$mainPostColor: rgba(0, 52, 94, 0.8);
$fontPostColor: rgba(255, 253, 154,1);
$blueColor: rgba(179, 237, 251, 1);

