// fonts
$fontMain: 'Montserrat', sans-serif;
$fontTitles: 'Roboto Condensed', sans-serif;

// fonts's size	
$fz16: 16px;
$fz18: 18px;
$fz20: 20px;
$fz28: 28px;
$fz30: 30px;

$transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);


/*--------------------------------------------------
				Colors Scheme
---------------------------------------------------*/

$orangeColor: #F66324;
$darkblueColor: #002C3E;

$green: #0FA573;
$yellow: #E9B64F;
$cyan: #00A3A3;
$blue: #5C86AF;
$orange: #F78B49;
$red: #DA311A;


/*--------------------------------------------------
				Common Colors
---------------------------------------------------*/


$mainBg: #0D3144;
$mainFontColor: #1b1b1b;

/*--------------------------------------------------
				Blog Page Colors
---------------------------------------------------*/


$mainPostColor: rgba(218, 228, 229, 0.8);
$fontPostColor: rgba(24, 61, 107,1);



/*--------------------------------------------------
				Blog Page Colors
---------------------------------------------------*/

$navMidth: calc(100% / 4);
$navBg: #2F5164;
$navLightClr: #fff;