// fonts
$fontMain: 'Montserrat', sans-serif;


// fonts's size	
$fz16: 16px;
$fz18: 18px;
$fz20: 20px;
$fz28: 28px;
$fz30: 30px;

// colors
$red: #e2323d;
$grey: #4d4d4d;
$green: #1c7500;	
$white: rgba(255, 255, 255, 1);

$mainBgColor: #243046;

