#secondary.sidebar
	aside#archives.sidebar__block.sidebar__block--archives
		h4.sidebar__title Archives
		ul
			li 
				i.icon-archive 
				| June 2016
			li 
				i.icon-archive 
				| May 2016
			li 
				i.icon-archive 
				| January 2016
	aside#categories.sidebar__block.sidebar__block--categories
		h4.sidebar__title Categories
		ul
			li June 2016
			li May 2016
			li January 2016
	aside#meta.sidebar__block.sidebar__block--meta
		h4.sidebar__title Meta
		ul
			li Cinema 4D
			li Photoshop
			li After Effect
			li Premiere
			li Illustrator
	aside#archives.sidebar__block
		h4.sidebar__title Archives
		ul
			li June 2016
			li May 2016
			li January 2016
	aside#meta.sidebar__block
		h4.sidebar__title Meta
		ul
			li Cinema 4D
			li Photoshop
			li After Effect
			li Premiere
			li Illustrator
