nav.filters
	ul.filter__list
		li.filter__item
			a(href="").filter__link
				span.filter__text C4D
		li.filter__item
			a(href="").filter__link
				span.filter__text Ph
		li.filter__item
			a(href="").filter__link 
				span.filter__text Ae
		li.filter__item
			a(href="").filter__link 
				span.filter__text Pr
		li.filter__item
			a(href="").filter__link 
				span.filter__text Ai