nav.filters
	ul.filter__list
		li.filter__item
			a(href="").filter__link
				span.filter__text All
		li.filter__item
			a(href="").filter__link.green
				span.filter__text X-Particles
		li.filter__item
			a(href="").filter__link.cyan
				span.filter__text Cycles 4D
		li.filter__item
			a(href="").filter__link.blue
				span.filter__text MoGraph
		li.filter__item
			a(href="").filter__link.yellow
				span.filter__text C4D
		li.filter__item
			a(href="").filter__link.orange
				span.filter__text Ae
		li.filter__item
			a(href="").filter__link.red
				span.filter__text Ph
		