svg(viewBox="0 0 100 100" class="icon ps" )
	use(xlink:href="images/sprite.svg#adobe-photoshop")

svg(viewBox="0 0 100 100" class="icon ps" )
	use(xlink:href="images/sprite.svg#adobe-illustrator")

svg(viewBox="0 0 100 100" class="icon ps" )
	use(xlink:href="images/sprite.svg#calendar")

svg(viewBox="0 0 100 100" class="icon ps" )
	use(xlink:href="images/sprite.svg#eye")

svg(viewBox="0 0 100 100" class="icon ps" )
	use(xlink:href="images/sprite.svg#like")

.tag.i-video
	svg(viewBox="0 0 100 100" class="tag__icon" )
		use(xlink:href="images/sprite.svg#video")

.tag.i-microphone
	svg(viewBox="0 0 100 100" class="tag__icon" )
		use(xlink:href="images/sprite.svg#microphone")

.tag.i-pencil
	svg(viewBox="0 0 100 100" class="tag__icon" )
		use(xlink:href="images/sprite.svg#pencil")