.slide-menu
	nav.nav
		ul.nav__items
			li.nav__item.only-mobile
				include _humburger.pug
			li.nav__item
				a(href="" target="_blank").nav__link
					| Home
			li.nav__item
				a(href="" target="_blank").nav__link
					| Blog
			li.nav__item
				a(href="" target="_blank").nav__link
					| Gellary
			li.nav__item
				a(href="" target="_blank").nav__link
					| Contacts