main.blog
	.blog__inner
		.post
			.post__list
				article.post__item
					.post__wrap
						figure.post-img
							img(src="images/img1.jpg", alt="")
						.post__content
							.post__content--inner
								.post__title  
									h3.post__title--text ipsum dolor sit amet
								p.post__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рукопись буквоград ты решила, там, заглавных текстами на берегу букв он. Деревни речью буквенных собрал бросил если составитель, переписали текст вскоре.
						.post__info.information
							.published
								span.published__date.icon-calendar
							.categories
								.categories__item.ps
								.categories__item.ai
				article.post__item.title-first
					.post__wrap
						figure.post-img
							img(src="images/img2.jpg", alt="")
						.post__content
							.post__content--inner
								.post__title
									h3.post__title--text Amazing tutorials to help you learn to create 3D animations, videos, artwork and illustrations using Maxon Cinema 4D.
								p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
				article.post__item
					.post__wrap
						figure.post-img
							img(src="images/img3.jpg", alt="")
						.post__content
							.post__content--inner
								.post__title  
									h3.post__title--text ipsum dolor sit amet
								p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
				article.post__item.picture-bg
					.post__wrap
						figure.post-img
							img(src="images/img11.jpg", alt="")
						.post__content
							.post__content--inner
								.post__title  
									h3.post__title--text These tutorials are based for cinema 4d, the first is definitely advanced but the second is more of a beginners guide.
				article.post__item
					.post__wrap
						figure.post-img
							img(src="images/img5.jpg", alt="")
						.post__content
							.post__content--inner
								.post__title  
									h3.post__title--text ipsum dolor sit amet
								p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
				article.post__item
					.post__wrap
						figure.post-img
							img(src="images/img6.jpg", alt="")
						.post__content
							.post__content--inner
								.post__title  
									h3.post__title--text ipsum dolor sit amet
								p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
				article.post__item.picture-bg
					.post__wrap
						figure.post-img
							img(src="images/img7.jpg", alt="")
						.post__content
							.post__content--inner
								header.post__title  
									h3.post__title--text learn how to a chieva a perfect and smooth surface in realflow plugin for Cinema 4d
				article.post__item
					.post__wrap
						figure.post-img
							img(src="images/img8.jpg", alt="")
						.post__content
							.post__content--inner
								.post__title  
									h3.post__title--text ipsum dolor sit amet
								p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias?
				article.post__item
					.post__wrap
						figure.post-img
							img(src="images/img9.jpg", alt="")
						.post__content
							.post__content--inner
								.post__title  
									h3.post__title--text ipsum dolor sit amet
								p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
				article.post__item
					.post__wrap
						figure.post-img
							img(src="images/img10.jpg", alt="")
						.post__content
							.post__content--inner
								.post__title  
									h3.post__title--text ipsum dolor sit amet
								
								p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
				article.post__item
					.post__wrap
						figure.post-img
							img(src="images/img10.jpg", alt="")
						.post__content
							.post__content--inner
								.post__title  
									h3.post__title--text ipsum dolor sit amet
								p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
				article.post__item
					.post__wrap
						figure.post-img
							img(src="images/img10.jpg", alt="")
						.post__content
							.post__content--inner
								.post__title  
									h3.post__title--text ipsum dolor sit amet
								p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
				article.post__item
					.post__wrap
						figure.post-img
							img(src="images/img10.jpg", alt="")
						.post__content
							.post__content--inner
								.post__title  
									h3.post__title--text ipsum dolor sit amet
								p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
							