main.blog
	.blog__inner
		.post
			.post__list
				.post__item
					.post__wrap
						figure.post-img
							img(src="images/img1.jpg", alt="")
						.post__content
							.post__title  
								h3.post__title--text ipsum dolor sit amet
							p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
				.post__item
					.post__wrap
						figure.post-img
							img(src="images/img2.jpg", alt="")
						.post__content
							.post__title
								h3.post__title--text  Lorem ipsum dolor sit amet
							p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
				.post__item
					.post__wrap
						figure.post-img
							img(src="images/img3.jpg", alt="")
						.post__content
							.post__title  
								h3.post__title--text ipsum dolor sit amet
							p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
				.post__item
					.post__wrap
						.post-img
							img(src="images/img4.jpg", alt="")
						.post__content
							.post__title  
								h3.post__title--text ipsum dolor sit amet
							p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
				.post__item
					.post__wrap
						.post-img
							img(src="images/img5.jpg", alt="")
						.post__content
							.post__title  
								h3.post__title--text ipsum dolor sit amet
							p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
				.post__item
					.post__wrap
						.post-img
							img(src="images/img6.jpg", alt="")
						.post__content
							.post__title  
								h3.post__title--text ipsum dolor sit amet
							p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
				.post__item
					.post__wrap
						.post-img
							img(src="images/img7.jpg", alt="")
						.post__content
							.post__title  
								h3.post__title--text ipsum dolor sit amet
							p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium? 
				.post__item
					.post__wrap
						.post-img
							img(src="images/img8.jpg", alt="")
						.post__content
							.post__title  
								h3.post__title--text ipsum dolor sit amet
							p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias ?
				.post__item
					.post__wrap
						.post-img
							img(src="images/img9.jpg", alt="")
						.post__content
							.post__title  
								h3.post__title--text ipsum dolor sit amet
							p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
				.post__item
					.post__wrap
						.post-img
							img(src="images/img10.jpg", alt="")
						.post__content
							.post__title  
								h3.post__title--text ipsum dolor sit amet
							p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
				.post__item
					.post__wrap
						.post-img
							img(src="images/img10.jpg", alt="")
						.post__content
							.post__title  
								h3.post__title--text ipsum dolor sit amet
							p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
				.post__item
					.post__wrap
						.post-img
							img(src="images/img10.jpg", alt="")
						.post__content
							.post__title  
								h3.post__title--text ipsum dolor sit amet
							p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
				.post__item
					.post__wrap
						.post-img
							img(src="images/img10.jpg", alt="")
						.post__content
							.post__title  
								h3.post__title--text ipsum dolor sit amet
							p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
							