block variables
	- var title = "Blog LayInMotion"

block content
	.blog
		include ../modules/_navigation
		.blog__inner
			.blog-content
				.masonry
					.masonry__item
						article.post
							a(href="page.html").post__link
							.post__wrap
								.post__preview
									figure.post-img
										img(src="images/img1.jpg", alt="")
								.post__meta
									.published
										span.published__date #[i.icon-calendar] Jan 19, 2018
									.post__categories.categories.i-pencil
										+icon('pencil', '-icon')
								.post__content
									.post__content--inner
										.post__title
											
											h3.post__title--text ipsum dolor sit amet
										p.post__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рукопись буквоград ты решила, там, заглавных текстами на берегу букв он. Деревни речью буквенных собрал бросил если составитель, переписали текст вскоре.
								.post__info
									ul.tages__list
										li.tages
											.tages__icon.i-photoshop
												+icon('photoshop', '-icon')
										li.tages
											.tages__icon.i-illustrator
												+icon('illustrator', '-icon')
					.masonry__item
						article.post
							a(href="page.html").post__link
							.post__wrap
								.post__preview
									figure.post-img
										img(src="images/img2.jpg", alt="")
								.published
									span.published__date #[i.icon-calendar] Jan 19, 2018
								.post__content
									.post__content--inner
										.post__title
											.post__categories.categories.i-pencil
												+icon('pencil', '-icon')
											h3.post__title--text Amazing tutorials to help you learn to create 3D animations, videos, artwork and illustrations using Maxon Cinema 4D.
										p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
								.post__info
									ul.tages__list
										li.tages
											.tages__icon.i-photoshop
												+icon('photoshop', '-icon')
										li.tages
											.tages__icon.i-illustrator
												+icon('illustrator', '-icon')
					.masonry__item
						article.post
							.post__wrap
								.post__preview
									iframe(src="https://www.youtube.com/embed/znliDeZOZx0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>)
								.published
									span.published__date #[i.icon-calendar] Jan 19, 2018
								.post__content
									.post__content--inner
										.post__title
											.post__categories.categories.i-video
												+icon('video', '-icon')
											h3.post__title--text ipsum dolor sit amet
										p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
								.post__info
									ul.tages__list
										li.tages
											.tages__icon.i-photoshop
												+icon('photoshop', '-icon')
										li.tages
											.tages__icon.i-illustrator
												+icon('illustrator', '-icon')
					.masonry__item
						article.post
							.post__wrap
								.post__preview
									iframe(src="https://www.youtube.com/embed/jRKfumNPL1Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen).video
								.published
									span.published__date #[i.icon-calendar] Jan 19, 2018
								.post__content
									.post__content--inner
										.post__title
											.post__categories.categories.i-video
												+icon('video', '-icon')
											h3.post__title--text These tutorials are based for cinema 4d, the first is definitely advanced but the second is more of a beginners guide.
								.post__info
									ul.tages__list
										li.tages
											.tages__icon.i-photoshop
												+icon('photoshop', '-icon')
										li.tages
											.tages__icon.i-illustrator
												+icon('illustrator', '-icon')
					.masonry__item
						article.post
							.post__wrap
								.post__preview
									figure.post-img
										img(src="images/img5.jpg", alt="")
								.published
									span.published__date #[i.icon-calendar] Jan 19, 2018 
								.post__content
									.post__content--inner
										.post__title
											.post__categories.categories.i-video
												+icon('video', '-icon')
											h3.post__title--text ipsum dolor sit amet
										p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
								.post__info
									ul.tages__list
										li.tages
											.tages__icon.i-photoshop
												+icon('photoshop', '-icon')
										li.tages
											.tages__icon.i-illustrator
												+icon('illustrator', '-icon')
					.masonry__item
						article.post
							.post__wrap
								.post__preview
									figure.post-img
										img(src="images/img6.jpg", alt="")
								.published
									span.published__date #[i.icon-calendar] Jan 19, 2018
								.post__content
									.post__content--inner
										.post__title
											.post__categories.categories.i-video
												+icon('video', '-icon')
											h3.post__title--text ipsum dolor sit amet
										p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
								.post__info
									ul.tages__list
										li.tages
											.tages__icon.i-photoshop
												+icon('photoshop', '-icon')
										li.tages
											.tages__icon.i-illustrator
												+icon('illustrator', '-icon')
					.masonry__item
						article.post
							.post__wrap
								.post__preview
									figure.post-img
										img(src="images/img7.jpg", alt="")
								.published
									span.published__date #[i.icon-calendar] Jan 19, 2018
								.post__content
									.post__content--inner
										header.post__title  
											h3.post__title--text learn how to a chieva a perfect and smooth surface in realflow plugin for Cinema 4d
								.post__info 
									ul.tages__list
										li.tages
											.tages__icon.i-photoshop
												+icon('photoshop', '-icon')
										li.tages
											.tages__icon.i-illustrator
												+icon('illustrator', '-icon')
					.masonry__item
						article.post
							.post__wrap
								.post__preview
									figure.post-img
										img(src="images/img8.jpg", alt="")
								.published
									span.published__date #[i.icon-calendar] Jan 19, 2018 
								.post__content
									.post__content--inner
										.post__title
											.post__categories.categories.i-microphone
												+icon('microphone', '-icon')
											h3.post__title--text ipsum dolor sit amet
										p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias?
								.post__info
									ul.tages__list
										li.tages
											.tages__icon.i-photoshop
												+icon('photoshop', '-icon')
										li.tages
											.tages__icon.i-illustrator
												+icon('illustrator', '-icon')
					.masonry__item
						article.post
							.post__wrap
								.post__preview
									figure.post-img
										img(src="images/img14.gif", alt="")
								.published
									span.published__date #[i.icon-calendar] Jan 19, 2018
								.post__content
									.post__content--inner
										.post__title
											.post__categories.categories.i-pencil
												+icon('pencil', '-icon')
											h3.post__title--text ipsum dolor sit amet
										p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
								.post__info
									ul.tages__list
										li.tages
											.tages__icon.i-photoshop
												+icon('photoshop', '-icon')
										li.tages
											.tages__icon.i-illustrator
												+icon('illustrator', '-icon')
					.masonry__item
						article.post
							.post__wrap
								.post__preview
									figure.post-img
										img(src="images/img10.jpg", alt="")
								.published
									span.published__date #[i.icon-calendar] Jan 19, 2018
								.post__content
									.post__content--inner
										.post__title
											.post__categories.categories.i-pencil
												+icon('pencil', '-icon')
											h3.post__title--text ipsum dolor sit amet	
										p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
								.post__info
									ul.tages__list
										li.tages
											.tages__icon.i-photoshop
												+icon('photoshop', '-icon')
										li.tages
											.tages__icon.i-illustrator
												+icon('illustrator', '-icon')
					.masonry__item
						article.post
							.post__wrap
								.post__preview
									figure.post-img
										img(src="images/img12.jpg", alt="")
								.published
									span.published__date #[i.icon-calendar] Jan 19, 2018
								.post__content
									.post__content--inner
										.post__title
											.post__categories.categories.i-microphone
												+icon('microphone', '-icon')
											h3.post__title--text ipsum dolor sit amet
										p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
								.post__info
									ul.tages__list
										li.tages
											.tages__icon.i-photoshop
												+icon('photoshop', '-icon')
										li.tages
											.tages__icon.i-illustrator
												+icon('illustrator', '-icon')
					.masonry__item
						article.post
							.post__wrap
								.post__preview
									figure.post-img
										img(src="images/img13.gif", alt="")
								.published
									span.published__date #[i.icon-calendar] Jan 19, 2018
								.post__content
									.post__content--inner
										.post__title 
											.post__categories.categories.i-pencil
												+icon('pencil', '-icon')
											h3.post__title--text ipsum dolor sit amet
										p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
								.post__info
									ul.tages__list
										li.tages
											.tages__icon.i-photoshop
												+icon('photoshop', '-icon')
										li.tages
											.tages__icon.i-illustrator
												+icon('illustrator', '-icon')
					.masonry__item
						article.post
							.post__wrap
								.post__preview
									figure.post-img
										img(src="images/img9.jpg", alt="")
								.published
									span.published__date #[i.icon-calendar] Jan 19, 2018
								.post__content
									.post__content--inner
										.post__title
											.post__categories.categories.i-microphone
												+icon('microphone', '-icon')
											h3.post__title--text ipsum dolor sit amet
										p.post__text Consectetur adipisicing elit. Impedit modi, repellendus aspernatur consectetur molestias voluptate optio ullam ipsa maxime rerum aliquam sed eius et vitae consequuntur, omnis quibusdam minus accusantium?
								.post__info
									ul.tages__list
										li.tages
											.tages__icon.i-photoshop
												+icon('photoshop', '-icon')
										li.tages
											.tages__icon.i-illustrator
												+icon('illustrator', '-icon')
