header.header
	.header__top
		.social
			ul.social__list
				li.social__item
					a(href="").social__link
						i.icon-instagram
				li.social__item
					a(href="").social__link
						i.icon-facebook
				li.social__item
					a(href="").social__link
						i.icon-vk
				li.social__item
					a(href="").social__link
						i.icon-youtube
				li.social__item
					a(href="").social__link
						i.icon-linkedin2
				li.social__item
					a(href="").social__link
						i.icon-mail2
		.header__title
			include ../modules/_logo
		include ../modules/_search
	include ../modules/_menu
	.header__bottom
		include ../modules/_filters
		
			