extends ../_base

block variables
	//- var title = "Добро пожаловать!"
	- var pageTitle = 'LayInMotion'

block content
	include ../sections/_header
	include ../sections/_blog
	include ../sections/_footer

