extends ../_base

block variables
	- var title = "Article"
	- var pageTitle = 'article-page'

block content
	.article__wrapper
		include ../sections/_header
		.article__content
			article.article
				.published
					span.published__date #[i.icon-calendar] Jan 19, 2018
				h2.article__title Своих жаренные реторический однажды жизни. Скатился ему, гор, алфавит дал он бросил пустился!
				ul.tag__list
					li.tag
						.tag__icon.i-photoshop
							+icon('photoshop', '-icon')
					li.tag
						.tag__icon.i-illustrator
							+icon('illustrator', '-icon')
				.article__content 
					p.article__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ab odit nisi soluta delectus. Nemo voluptas, corporis laboriosam iusto qui optio vero id, quisquam mollitia atque quidem, quam a? Illum!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae inventore libero architecto eos nihil harum, placeat repudiandae ab assumenda blanditiis excepturi? Hic, temporibus, esse repellat facere nulla exercitationem aliquid.
					p.article__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ab odit nisi soluta delectus. Nemo voluptas, corporis laboriosam iusto qui optio vero id, quisquam mollitia atque quidem, quam a? Illum!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae inventore libero architecto eos nihil harum, placeat repudiandae ab assumenda blanditiis excepturi? Hic, temporibus, esse repellat facere nulla exercitationem aliquid.
					p.article__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ab odit nisi soluta delectus. Nemo voluptas, corporis laboriosam iusto qui optio vero id, quisquam mollitia atque quidem, quam a? Illum!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae inventore libero architecto eos nihil harum, placeat repudiandae ab assumenda blanditiis excepturi? Hic, temporibus, esse repellat facere nulla exercitationem aliquid.
					p.article__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ab odit nisi soluta delectus. Nemo voluptas, corporis laboriosam iusto qui optio vero id, quisquam mollitia atque quidem, quam a? Illum!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae inventore libero architecto eos nihil harum, placeat repudiandae ab assumenda blanditiis excepturi? Hic, temporibus, esse repellat facere nulla exercitationem aliquid.
					p.article__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ab odit nisi soluta delectus. Nemo voluptas, corporis laboriosam iusto qui optio vero id, quisquam mollitia atque quidem, quam a? Illum!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae inventore libero architecto eos nihil harum, placeat repudiandae ab assumenda blanditiis excepturi? Hic, temporibus, esse repellat facere nulla exercitationem aliquid.


