extends ../_base

block content
	.categories.i-microphone
		+icon('microphone', '-icon')

	.categories.i-pencil
		+icon('pencil', '-icon')
	.categories.i-video
		+icon('video', '-icon')
	br
	hr
	br 
	ul.tag__list
		li.tag
			.tag__icon.i-photoshop
				+icon('photoshop', '-icon')
		li.tag
			.tag__icon.i-illustrator
				+icon('illustrator', '-icon')
