*::placeholder	{
	font-size: 20px; 
	color: rgba(255, 255, 255, 1);
	opacity: 1; 
	transition: opacity 0.3s ease;
	text-overflow:ellipsis;
}
*:focus::placeholder {opacity: 0;}

*,:before, :after {
    box-sizing: border-box;
	margin:0;
	padding:0;
	outline:0;
}
*::selection {
    /* background: $red;
    color: #ffffff */;
}
body::-webkit-scrollbar {
    width: 7px;
}
 
body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(2, 37, 59, 0.8);
	background-color: #F5F5F5;
}
 
body::-webkit-scrollbar-thumb {
	border-radius: 10px;
  	background-color: $darkblue;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
	display:block
}
figure, iframe, video {
	max-width: 100%;
}
[hidden]{
	display:none
}
.visuallyHidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
a{	
	text-decoration: none;
	font-weight: 700;
}
a:active,
a:hover{
	text-decoration: none;
}
button {
	background: transparent;
	border: 0;
}
ul, ol {
	list-style-type: none;
}
img {
	display: block;
	max-width:100%;
	height: auto;
	border: 0;
	outline: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $fontMain;
}
h1 {
	font-family: $fontTitles;
}
select {   
    appearance: none;
}
select::-ms-expand {
    display: none;
}
.main-wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.container{
	margin-right: auto;
    margin-left: auto;
	position: relative;
	max-width: 300px;
	width: 100%;

	@include min992 {
		max-width: 1200px;
	}
}
.container:before,
.container:after{
    content: " ";
    display: table;
    clear: both;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
html {
	font-size: $fz16;
}
body {
	font-family: $fontMain;
	font-size: 1rem;
	font-weight: normal;	
	color: $mainFontColor;
	line-height: 1.5;
	position: relative;
	background:$darkGrey;
}
.only-mobile {
	display: block;

	@include min992 {
		display: none;
	}
}
.only-desktop {
	display: none;

	@include min992 {
		display: block;
	}
}
