/* @font-face {
    font-family: 'Bauhaus93';
    src: url('../fonts/bauhaus93/Bauhaus93.eot');
    src: url('../fonts/bauhaus93/Bauhaus93.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bauhaus93/Bauhaus93.woff2') format('woff2'),
        url('../fonts/bauhaus93/Bauhaus93.woff') format('woff'),
        url('../fonts/bauhaus93/Bauhaus93.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 */