.slide-menu {
	width: 100%;
	top: 0;
	right: 0;
	z-index: 3;
	border-top: 1px solid $navLightClr;
	border-bottom: 1px solid $navLightClr;
	
}
.nav {
	&__items {
		display: flex;
		width: 100%;
		height: 40px;
		justify-content: center;
	}
	&__item {
		display: inline-block;	
		width: $navMidth;
		text-align: center;
		line-height: 40px;
		border-right: 1px solid $navLightClr;

		&:nth-of-type(1) {
			border-left: 1px solid $navLightClr;
		}		
	}
	&__link {
		display: block;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 14px;
		color: $navLightClr;
		transition: $transition;

		&:hover {
			background: $navLightClr;
			color: $mainFontColor;
			transition: $transition;
		}
	}
}

