.nav {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 3;
	padding: 50px 10px;
	background: rgba(179, 237, 251, 0.8);
	//display: none;

	&__menu {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
    	align-items: center;
    	min-height: 60px;
	}
	
	&__link {
		position: relative;
		overflow: hidden;
		width: 130px;
		color: #082639;
		text-decoration: none;
		pointer-events: none;
		
	}
	&__item {
		display: block;
		margin: 0 15px;
		padding: 10px;
		text-align: center;

		&.nav__item--current {}
	}
	&__text {
		display: block;
		font-weight: 500;
		font-size: 14px;
		
	}
}


